/* Body Css */

body {
    background-color: #ffffff; 
}
h4 {

}
#content{
    max-width: 1600px;
    width: 1024px;
    margin: 0 auto;
}

/* Header css */
header {
    background-color:#ffffff;
}
nav a {
    text-align: center;
    color: #3a3017;
    text-decoration: none;
}
nav a:hover {
    background-color: #d16100;
    color: #ffffff;
}  
/* Header css */

/* hero css */
#hero-msg h1, #hero-msg h4{
    text-align: center;
}
.book, .join {
    background-color: #d16100;
    color: #ffffff;
}
.book:hover, .join:hover {
    background-color: #99dfe2;
    color: #3a3017;
}

.button-box {
    text-align: center;
}

main section {
    text-align: center;
}
/* hero css */

/* Main Css */
#background {
    height: 725px;
    background-color: #99dfe2;
    color: #3a3017;
}

.msg{
    background-color: #3a3017;

}
.msg h2{
    color: #ffffff;
}
.msg p{
    color: #ffffff;
}
.icon {
    width: 80px;
}

/* Footer css */
footer{
    background-color: #ffffff;
    color: #3a3017;
}

footer h3 {
    background-color: black;
    color: #3a3017;
}
footer a {
    color: #3a3017;
}
footer a:hover{
    background-color: #d16100;
    color: #ffffff;
}
footer p {
    font-size: 1.2em;
}    
footer p a:hover {
    text-decoration: underline;
} 