body {
 /*text-align: center;*/
}

img {
  width: 80%;
}
p {
  width: 80%;
}
a {
  font-size: 1.5em;
}
img {
  width: 80%;
  display: block;
  margin: 0 auto;;
}
* {
  border: 2px solid blue;
}

h1, nav, footer {
  text-align: center;
}

img.hero-img{
  width: 80%;
}
 main p {
  width: 80%;
  margin: 50px auto;
  text-align: center;
 }
 footer, footer p {
  width: 80%;
  margin: 10px auto;

 }